.version.mapsadd /* version checker */
{
	color: #00000A;
	background-color: #8F5364;
}

#page
{
	z-index: 1;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pu165
{
	padding-bottom: 1410px;
	margin-bottom: -904px;
	margin-right: -10000px;
	margin-top: -6px;
	width: 100%;
}

#u165
{
	z-index: 4;
	height: 1410px;
	position: fixed;
	top: -6px;
	left: 0px;
	width: 18.75%;
	max-width: 180px;
}

#u166
{
	z-index: 5;
	height: 62px;
	position: fixed;
	top: -6px;
}

#u166-bw
{
	z-index: 5;
}

#accordionu195
{
	z-index: 22;
	position: fixed;
	top: 100px;
	left: 8px;
	width: 17.19%;
	max-width: 165px;
}

#u204
{
	z-index: 23;
	position: relative;
	width: 100%;
}

#u205-4
{
	z-index: 24;
	min-height: 30px;
	position: relative;
	width: 100%;
}

#u205-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u206
{
	z-index: 28;
	padding-bottom: 1px;
	position: relative;
	width: 100%;
}

#menuu343
{
	z-index: 29;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	width: 100%;
}

#u366
{
	min-height: 18px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u367-4
{
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	width: 100%;
}

#u345
{
	min-height: 18px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u347-4
{
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	width: 100%;
}

#u354
{
	min-height: 18px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u355-4
{
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	width: 100%;
}

#u359
{
	min-height: 18px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u360-4
{
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	width: 100%;
}

#u430
{
	z-index: 54;
	position: relative;
	width: 100%;
}

#u431-4
{
	z-index: 55;
	min-height: 30px;
	position: relative;
	width: 100%;
}

#u205-4.AccordionPanelTabOpen,#u431-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u431-4.AccordionPanelTabOpen
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u432
{
	z-index: 59;
	padding-bottom: 12px;
	position: relative;
	width: 100%;
}

#menuu629
{
	z-index: 60;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	width: 100%;
}

#u638
{
	min-height: 18px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u639-4
{
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	width: 100%;
}

#u647
{
	min-height: 18px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u648-4
{
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	width: 100%;
}

#u365,#u344,#u351,#u358,#u637,#u644,#u630
{
	position: relative;
	width: 100%;
}

#u633
{
	min-height: 18px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u366.MuseMenuActive,#u345.MuseMenuActive,#u354.MuseMenuActive,#u359.MuseMenuActive,#u638.MuseMenuActive,#u647.MuseMenuActive,#u633.MuseMenuActive
{
	min-height: 18px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u634-4
{
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	width: 100%;
}

#u366.MuseMenuActive #u367-4,#u345.MuseMenuActive #u347-4,#u354.MuseMenuActive #u355-4,#u359.MuseMenuActive #u360-4,#u638.MuseMenuActive #u639-4,#u647.MuseMenuActive #u648-4,#u633.MuseMenuActive #u634-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#pu167-4
{
	padding-bottom: 49px;
	margin-right: -10000px;
	margin-left: 660px;
	width: 6.25%;
}

#u167-4
{
	z-index: 6;
	position: fixed;
	top: 0px;
	right: 240px;
	width: 6.25%;
	max-width: 60px;
}

#u168-4
{
	z-index: 10;
	position: fixed;
	top: 28px;
	right: 240px;
	width: 6.25%;
	max-width: 60px;
}

#u163
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	width: 25%;
	left: 75%;
}

#pu169
{
	padding-bottom: 49px;
	margin-right: -10000px;
	margin-left: 727px;
	width: 22.82%;
}

#u169
{
	z-index: 14;
	position: fixed;
	top: 9px;
	right: 14px;
	width: 3.34%;
	max-width: 32px;
}

#u171-3
{
	z-index: 16;
	height: 21px;
	position: fixed;
	top: 0px;
	right: 60px;
	width: 18.03%;
	max-width: 173px;
}

#u172-3
{
	z-index: 19;
	height: 21px;
	position: fixed;
	top: 28px;
	right: 60px;
	width: 18.03%;
	max-width: 173px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

#u163_img,#u169_img
{
	width: 100%;
}

