#u165
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #182257;
}

#u166
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #070F3A;
}

#u205-4
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	border-width: 0px;
	background-color: transparent;
	line-height: 27px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
}

#u205-4:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #7C84AE;
}

#accordionu195,#u204,#u206,#menuu343,#u365,#u366
{
	border-width: 0px;
	background-color: transparent;
}

#u367-4
{
	border-width: 0px;
	background-color: #525C91;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
}

#u344,#u345
{
	border-width: 0px;
	background-color: transparent;
}

#u347-4
{
	border-width: 0px;
	background-color: #525C91;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
}

#u351,#u354
{
	border-width: 0px;
	background-color: transparent;
}

#u355-4
{
	border-width: 0px;
	background-color: #525C91;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
}

#u358,#u359
{
	border-width: 0px;
	background-color: transparent;
}

#u360-4
{
	border-width: 0px;
	background-color: #525C91;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
}

#u431-4
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	border-width: 0px;
	background-color: transparent;
	line-height: 27px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
}

#u431-4:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #7C84AE;
}

#u205-4.AccordionPanelTabOpen,#u431-4.AccordionPanelTabOpen
{
	background-color: #7C84AE;
}

#u205-4.AccordionPanelTabOpen p,#u431-4.AccordionPanelTabOpen p
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.7;
	font-size: 16px;
}

#u430,#u432,#menuu629,#u637,#u638
{
	border-width: 0px;
	background-color: transparent;
}

#u639-4
{
	border-width: 0px;
	background-color: #525C91;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
}

#u644,#u647
{
	border-width: 0px;
	background-color: transparent;
}

#u648-4
{
	border-width: 0px;
	background-color: #525C91;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
}

#u630,#u633
{
	border-width: 0px;
	background-color: transparent;
}

#u634-4
{
	border-width: 0px;
	background-color: #525C91;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u167-4,#u168-4
{
	display: block;
	vertical-align: top;
}

#u163,#u169
{
	background-color: transparent;
}

#u171-3
{
	vertical-align: top;
	background: url("../images/u171-3.png") no-repeat 0px 0px;
}

#u172-3
{
	vertical-align: top;
	background: url("../images/u172-3.png") no-repeat 0px 0px;
}

